h1 {
    color: red;
}
#outer {
    background-color: yellow;
}
.paragraph {
    background-color: blue;
}
#outer li {
   color: red;
   list-style-type: none;
}
#outer >li {
    color: blue;
}
img {
    width: 200px;
    height: auto;
} 